<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>World's Amaze MUVIE-Growing App</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/style.css">    
</head>
<body>
  <div class="pure-g wrapper">
    <!-- HEADER -->
    <header class="pure-u-1">
      <div class="header-box">
        <h1>Talkin Album Covers</h1>
        <!-- NAV -->
        <nav class="pure-menu pure-menu-horizontal pure-u-1">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="/" class="pure-menu-link">Home</a>
            </li>
            <li class="pure-menu-item">
              <a href="/about" class="pure-menu-link">About</a>
            </li>
          </ul>
        </nav>
      </div><!--header-box-->
    </header> <!--pure-u-1-->
  <section class="container full">
    <h2><a href="/">search for another image</a></h2>

    <section class="pure-u-1 content-wrapper">
      <div class="pure-g content-grid">

      <% artistsImgs.forEach(function(e){%>
        <div class="pure-u-1-3">
          <img src="<%=e%>" alt="album" class="show_new_image">

        <div class="buttons">    
          <form method="POST" action="/articles/newpost">
            <input type="submit" value="add me">
            <input type="hidden" value="<%=e%>" name="picurl">
          </form>
        </div><!--buttons-->
        </div><!--pure-u-1-3-->
      <%});%>

      </div><!--pure-g content-grid-->
    </section><!--pure-u-1 content-wrapper-->

    <h2><a href="/">search for another image</a></h2>

  </section><!--container full-->
  <section class="container mobile">
    <h2><a href="/">search for another image</a></h2>

    <section class="pure-u-1 content-wrapper">
      <div class="pure-g content-grid">

      <% artistsImgs.forEach(function(e){%>
        <div class="pure-u-1-1">
          <img src="<%=e%>" alt="album" class="show_new_image">

        <div class="buttons">    
          <form method="POST" action="/articles/newpost">
            <input type="submit" value="add me">
            <input type="hidden" value="<%=e%>" name="picurl">
          </form>
        </div><!--buttons-->
        </div><!--pure-u-1-3-->
      <%});%>

      </div><!--pure-g content-grid-->
    </section><!--pure-u-1 content-wrapper-->

    <h2><a href="/">search for another image</a></h2>

  </section><!--container mobile-->
</div><!--pure-g wrapper-->

</body>
</html>