body {
  background-image: url(../bg/brickwall.png);
}

h2 span {
  font-weight: bold;
}

li span {
  font-size: 10px;

  font-style: italic;
}

.container {
  margin: 15px;
}

.show_article_container {
  background-color: rgba(255,255,255,.45);
  margin: 5px auto;
  border: solid black 1px;
  border-radius: 3px;
  padding: 5px 5px 5px 15px;
}
.newpostcontainer{
  margin: 15px;
}

.comments_container {
  background-color: rgba(255,255,255,.45);
  margin: 5px auto;
  border: solid black 1px;
  border-radius: 3px;
  padding: 5px 5px 5px 15px;
}

.comments_container li {
  list-style: none;
}

.index_post_item {
  background-color: rgba(255,255,255,.45);
  margin: 5px auto;
  border: solid black 1px;
  border-radius: 3px;
  min-height: 37px;
  list-style: none;
  position: relative;
  left: -37px;
  padding: 13px;
}

li.index_post_item span {
  font-size: 15px;
  font-weight: bold;  
}

li.index_post_item h4 {
  font-size: 15px;
  font-weight: bolder;  
}

li.show_comment_item {
  border: solid black 1px;
  border-radius: 3px;
  min-height: 37px;
}